.chord-diagram-container {
	// margin: 3vw;
	padding: 5vw;
	padding-top: 2vw;
	padding-bottom: 4vw;
	// padding-left: 4vw;
	// padding-right: 4vw;
	width: fit-content;
	height: auto;
	// border: 2px solid #888888b9;
	// border-radius: 2%;
	// background-color: ;
	box-shadow: 1px 1px 30px 3px #5f78a0;
	-webkit-animation: fadeIn ease-in-out 0.8s;
	animation: fadeIn ease-in-out 0.8s;
	border-radius: 20%;
	// border-bottom-left-radius: 20%;
	// border-bottom-right-radius: 20%;

	@-webkit-keyframes fadeIn {
		0% {
			-webkit-opacity: 0;
		}

		100% {
			-webkit-opacity: 100%;
		}
	}
	@keyframes fadeIn {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 100%;
		}
	}

	.fret-title,
	.first-fret-number {
		position: absolute;
		font-size: 1.3vw;
	}
	.fret-title {
		margin-top: 30.5%;
		margin-left: -13.4%;
		-webkit-animation: popDot ease-in-out 0.3s;
		animation: popDot ease-in-out 0.3s;
	}
	.first-fret-number {
		margin-top: 37%;
		margin-left: -10.3%;
		-webkit-animation: popDot ease-in-out 0.4s;
		animation: popDot ease-in-out 0.4s;
	}

	.chord-name {
		text-align: center;
		margin-left: -10%;
		font-size: 3vw;
		padding-bottom: 1vw;
		padding-top: 1vw;
		max-width: 17vw;
		margin: auto;

		// width: inherit;
		// margin-left: -2%;
	}

	.string-x-o-container {
		display: flex;
		flex-direction: row;
		width: 15vw;
		justify-content: space-between;
		padding-bottom: 0.5vw;
		font-size: 2vw;
		-webkit-animation: moveX ease-in-out 0.3s;
		animation: moveX ease-in-out 0.3s;

		.hidden {
			visibility: hidden;
		}

		#e6xo {
			margin-left: -2%;
		}

		#a5xo {
			margin-left: 0.9%;
			-webkit-animation: moveX ease-in-out 0.4s;
			animation: moveX ease-in-out 0.4s;
		}

		#d4xo {
			margin-left: .5%;
			-webkit-animation: moveX ease-in-out 0.5s;
			animation: moveX ease-in-out 0.5s;
		}

		#g3xo {
			margin-left: 0.6%;
			margin-right: 0.5%;
			-webkit-animation: moveX ease-in-out 0.6s;
			animation: moveX ease-in-out 0.6s;
		}

		#b2xo {
			margin-right: 0.7%;
			-webkit-animation: moveX ease-in-out 0.7s;
			animation: moveX ease-in-out 0.7s;
		}

		#e1xo {
			margin-right: -1.8%;
			-webkit-animation: moveX ease-in-out 0.8s;
			animation: moveX ease-in-out 0.8s;
		}
	}

	.chord-diagram-box {
		border-top: 0.56vw solid white;
		border-bottom: 2px solid white;
		width: 15vw;
		height: 18.75vw;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		-webkit-animation: fadeIn ease-in-out 0.5s;
		animation: fadeIn ease-in-out 0.5s;
		border-radius: 1%;

		.fret-box {
			width: inherit;
			height: inherit;
			display: flex;
			flex-direction: column;
			position: absolute;
			justify-content: space-evenly;

			.fret {
				border-top: 2px solid white;
				width: inherit;
				-webkit-animation: moveX ease-in-out 0.2s;
				animation: moveX ease-in-out 0.2s;
				transform-origin: bottom center;
			}
			#fret-2 {
				-webkit-animation: moveX ease-in-out 0.35s;
				animation: moveX ease-in-out 0.35s;
			}
			#fret-3 {
				-webkit-animation: moveX ease-in-out 0.5s;
				animation: moveX ease-in-out 0.5s;
			}
			#fret-4 {
				-webkit-animation: moveX ease-in-out 0.65s;
				animation: moveX ease-in-out 0.65s;
			}
			@-webkit-keyframes moveX {
				0% {
					-webkit-opacity: 0;
					-webkit-transform: translatex(-400px);
				}
				20% {
					-webkit-opacity: 0%;
				}
				100% {
					-webkit-opacity: 100%;
					-webkit-transform: translatex(0px);
				}
			}
			@keyframes moveX {
				0% {
					opacity: 0;
					transform: translatex(-400px);
				}
				20% {
					opacity: 0%;
				}
				100% {
					opacity: 100%;
					transform: translatex(0px);
				}
			}
		}

		.guitar-string {
			border-right: 2px solid white;
			height: inherit;
			-webkit-animation: moveY ease-in-out 0.15s 0s;
			animation: moveY ease-in-out 0.15s 0s;
			transform-origin: bottom center;
		}

		#a5 {
			-webkit-animation: moveY ease-in-out 0.3s;
			animation: moveY ease-in-out 0.3s;
		}
		#d4 {
			-webkit-animation: moveY ease-in-out 0.45s;
			animation: moveY ease-in-out 0.45s;
		}
		#g3 {
			-webkit-animation: moveY ease-in-out 0.6s;
			animation: moveY ease-in-out 0.6s;
		}
		#b2 {
			-webkit-animation: moveY ease-in-out 0.75s;
			animation: moveY ease-in-out 0.75s;
		}
		#e1 {
			-webkit-animation: moveY ease-in-out 0.9s;
			animation: moveY ease-in-out 0.9s;
		}
		@-webkit-keyframes moveY {
			0% {
				-webkit-opacity: 0;
				-webkit-transform: translatey(-400px);
			}
			20% {
				-webkit-opacity: 0%;
			}
			100% {
				-webkit-opacity: 100%;
				-webkit-transform: translatey(0px);
			}
		}

		@keyframes moveY {
			0% {
				opacity: 0;
				transform: translatey(-400px);
			}
			20% {
				opacity: 0%;
			}
			100% {
				opacity: 100%;
				transform: translatey(0px);
			}
		}

		// .guitar-string &:hover {
		// 	transform: translateX(200px);
		// }

		.finger-dots {
			position: absolute;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			flex-wrap: wrap;
			width: inherit;
			height: inherit;

			.dot {
				visibility: hidden;
				// opacity: 0;
				width: 12.5%;
				height: 10%;
				border-radius: 50%;
				background-color: white;

				margin-left: 8.5%;
				margin-right: 6.15%;
				margin-bottom: 6%;
				margin-top: 6.25%;
			}

			.visible {
				visibility: visible;
				-webkit-animation: popDot ease-in-out 0.8s;
				animation: popDot ease-in-out 0.8s;
			}
			@-webkit-keyframes popDot {
				0% {
					-webkit-opacity: 0;
					-webkit-transform: scale(0);
				}
				85% {
					-webkit-opacity: 0;
				}
				90% {
					-webkit-transform: scale(1.2);
				}
				100% {
					-webkit-opacity: 100%;
					-webkit-transform: scale(1);
				}
			}

			@keyframes popDot {
				0% {
					opacity: 0;
					transform: scale(0);
				}
				85% {
					opacity: 0;
				}
				90% {
					transform: scale(1.2);
				}
				100% {
					opacity: 100%;
					transform: scale(1);
				}
			}

			.e6 {
				margin-left: -6%;
			}
			.a5 {
				margin-left: 1%;
			}
			.d4 {
				margin-left: 1.5%;
			}
			.g3 {
				margin-left: 1.4%;
			}
			.b2 {
				margin-left: 0.9%;
			}
			.e1 {
				margin-left: 1.3%;
			}
		}
	}
}

@media only screen and (max-width: 1080px) {
	.chord-diagram-container {
		width: fit-content;
		// padding: 6vw;
		padding-top: 7vw;
		padding-bottom: 9vw;
		padding-left: 10vw;
		padding-right: 11vw;

		.fret-title,
		.first-fret-number {
			font-size: 2vw;
			margin-left: -12.5%;
		}
		.fret-title {
			margin-top: 32%;
		}
		.first-fret-number {
			margin-top: 38%;
			margin-left: -9%;
		}

		.chord-name {
			margin: auto;
			font-size: 5vw;
			// padding-bottom: 0.5vw;
			padding-top: 0.5vw;
		}

		.chord-diagram-box {
			width: calc(15vw * 1.8);
			height: calc(18.75vw * 1.8);
		}

		.string-x-o-container {
			width: auto;
			font-size: 4vw;
		}
	}
}
