p {
	font-size: 1.4rem;
}

.chord-box-split p {
	font-size: 1rem;
}

@media only screen and (max-width: 680px) {
	p {
		font-size: 0.9rem;
	}
	.chord-box-split p {
		font-size: 0.5rem;
	}
}

.chord-box {
	// background-color: #282c34;
	height: 0;
	width: 12.5%;
	padding-bottom: 12.5%;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	align-content: center;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 1px solid white;
	overflow: hidden;
	position: relative;

	// .half-left {
	// 	text-align: left;
	// 	padding-top: 0%;
	// }

	// .half-right {
	// 	text-align: right;
	// 	padding-bottom: 0;
	// }

	// .half-line {
	// 	// border-top: 1px solid white;
	// 	width: 12.5%;
	// 	height: 12.5%;
	// 	position: absolute;
	// 	z-index: 1;

	// 	&:after {
	// 		content: "";
	// 		position: absolute;
	// 		border-top: 1px solid white;
	// 		width: 200px;
	// 		transform: rotate(135deg);
	// 		transform-origin: 25% 25%;
	// 	}
	// }

	// .chord-box-half-one {

	// 	top: 0;
	// 	right: 0;
	// 	width: 0;
	// 	height: 0;
	// 	border: 3em solid olive;
	// 	border-top-color: transparent;
	// 	border-left-color: transparent;
	// 	position: absolute;
	// 	z-index: 1;
	// }

	// .chord-box-half-two {

	// 	top: 0;
	// 	right: 0;
	// 	width: 0;
	// 	height: 0;
	// 	border: 3em solid green;
	// 	border-bottom-color: transparent;
	// 	border-right-color: transparent;
	// 	position: absolute;
	// 	z-index: 1;
	// }

	&:nth-child(n + 9):nth-child(-n + 16) {
		background-color: #282c34;
	}

	&:nth-child(n + 25):nth-child(-n + 32) {
		background-color: #282c34;
	}

	.chord-note {
		padding-top: 100%;
	}
}

.chord-box-split {
	// background-color: #282c34;
	height: 0;
	width: 12.5%;
	padding-bottom: 12.5%;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	align-content: center;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 1px solid white;
	overflow: hidden;
	position: relative;

	.chordbox-Left {
		text-align: left;
		padding-top: 45%;
		padding-right: 30%;
		position: absolute;
	}

	.chordbox-right {
		text-align: right;
		padding-top: 145%;
		padding-left: 45%;
		position: absolute;
	}

	.chordbox-quarter {
		text-align: right;
		padding-top: 100%;
		padding-left: 65%;
		position: absolute;
		font-size: .5rem;
	}

	.half-line {
		// border-top: 1px solid white;
		width: 12.5%;
		height: 12.5%;
		position: absolute;
		z-index: 1;

		&:after {
			content: "";
			position: absolute;
			border-top: 2px solid white;
			width: 185px;
			transform: rotate(135deg);
			transform-origin: 25% 25%;
		}

		@media only screen and (max-width: 680px) {
			&:after {
				width: 29vw;
				transform: rotate(135deg);
			}
		}
	}

	.short-line-top {
		// border-top: 1px solid white;
		// display: none;
		width: 12.5%;
		height: 12.5%;
		position: absolute;
		z-index: 1;

		&:after {
			content: "";
			position: absolute;
			border-top: 2px solid white;
			width: 112px;
			transform: rotate(135deg);
			transform-origin: 41.5% 10%;
		}

		@media only screen and (max-width: 680px) {
			&:after {
				width: 17vw;
				transform-origin: 42.2% 30%;
			}
		}
	}

	.short-line-bottom {
		// border-top: 1px solid white;

		width: 12.5%;
		height: 12.5%;
		position: absolute;
		z-index: 1;

		&:after {
			content: "";
			position: absolute;
			border-top: 2px solid white;
			width: 112.5px;
			transform: rotate(225deg);
			transform-origin: 59% 2330%;
		}

		@media only screen and (max-width: 680px) {
			&:after {
				width: 40vw;
				transform-origin: 54% 2220%;
			}
		}
	}

	&:nth-child(n + 9):nth-child(-n + 16) {
		background-color: #282c34;
	}

	&:nth-child(n + 25):nth-child(-n + 32) {
		background-color: #282c34;
	}
}
@media only screen and (max-width: 680px) {
	.chord-box {
		font-size: calc(5px + 2vmin);
	}
	.chord-box-split {
		font-size: calc(3px + 2vmin);
		.half-left {
			padding-right: 10%;
		}
	}
}
