.chord-chart {
	display: flex;
	flex-direction: row;
	// align-items: center;
	flex-wrap: wrap;
	align-items: flex-start;
	width: 40em;
	max-width: 90vw;
	border: 1px solid white;
}

.chord-chart-single {
	padding: 40px;
	// margin-right: auto;
}

// .chord-chart-single:last-child {
// 	// background-color: goldenrod;
// 	margin-left: 1em;
// }

.chord-chart-heading {
	display: block;
	padding-bottom: 1rem;
	font-size: 1.5rem;
}

@media only screen and (max-width: 680px) {
	.chord-chart {
		width: 40em;
		min-width: 98vw;
		max-width: 98vw;
	}

	.chord-chart-single {
		max-width: 100vw;
		padding: 20px;
	}
}
