.invisible-div-container {
	// position: sticky;
	// min-width: 100vw;
	// min-height: 100vh;
	// z-index: 9999999;
	// display: flex;
	// justify-content: center;
	// align-items: center;
}

.invisible-div-diagram {
	min-width: 100vw;
	min-height: 100vh;
	background-color: #16181d80;
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 9999999;
	display: flex;
	justify-content: center;
	align-items: center;
	// margin-top: -10vw;
	// margin-left: -22vw;
}

@media only screen and (max-width: 680px) {
	.invisible-div-diagram {
		// margin-left: -2vw;
	}
}

.chord-chart {
	display: flex;
	flex-direction: row;
	// align-items: center;
	flex-wrap: wrap;
	align-items: flex-start;
	width: 40em;
	max-width: 90vw;
	border: 1px solid #ffffff80;
}

.chord-chart-single {
	padding: 40px;
	// margin-right: auto;
}
@media only screen and (max-width: 680px) {
	.chord-chart-single {
		max-height: 100vh;
	}
}

// .chord-chart-single:last-child {
// 	// background-color: goldenrod;
// 	margin-left: 1em;
// }

.chord-diagram-container-chart {
	background-color: #16181d;
	width: fit-content;
	position: absolute;
	margin-top: -4px;
	margin-left: -2px;
	z-index: 9999999;
	border-left: 2px solid #16181d;
}

.chord-chart-heading {
	display: block;
	padding-top: 1rem;
	padding-bottom: 2rem;
	font-size: 1.5rem;
}

@media only screen and (max-width: 680px) {
	.chord-chart {
		width: 40em;
		// min-width: 98vw;
		// max-width: 98vw;
		max-width: 100%;
	}

	.chord-chart-single {
		max-width: 96vw;
		padding: 10vw 2vw;
	}
}
